header {
    background: $secondary-color;
}

.header__block {
    max-width: 1238px;
    height: 125px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left,
    &__right,
    logo {
        gap: 48px;
        display: flex;
        align-items: center;
    }

    &__nav {
        font-family: $second-family;
        font-weight: 400;
        font-size: 18px;
        color: #fff;
    }
}

.header__btns {
    border: none;
    background-color: transparent;
}